<!-- header -->
<div class="header" id="home">
    <div class="top_menu_w3layouts">

        <div class="header_left">
            <ul>
                <li><i class="fa fa-map-marker" aria-hidden="true"></i> 1143 New York, USA</li>
                <li><i class="fa fa-phone" aria-hidden="true"></i> +(010) 221 918 811</li>
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@example.com">info@example.com</a></li>
            </ul>
        </div>
        <div class="header_right">
            <ul class="forms_right">
                <li><a class="active" [routerLink]="['/login']"> Sign In</a> </li>
                <li><a [routerLink]="['/signup']"> Sign Up</a> </li>
            </ul>

        </div>
        <div class="clearfix"> </div>
    </div>

    <div class="content white">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                    <a class="navbar-brand" href="index.html">
                        <h1><span class="fa fa-comments-o" aria-hidden="true"></span>Digital Samay <label>Domain Registration</label></h1>
                    </a>
                </div>
                <!--/.navbar-header-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <nav>
                        <ul class="nav navbar-nav">
                            <li><a href="index.html" class="active">Home</a></li>
                            <li class="dropdown">
                                <a href="services.html" class="dropdown-toggle" data-toggle="dropdown">Support <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="services.html">Services</a></li>
                                    <li class="divider"></li>
                                    <li><a href="know.html">Knowledge Base</a></li>
                                    <li class="divider"></li>
                                    <li><a class="s-menu" href="stories.html">Customers <b class="fa fa-caret-right"></b></a>
                                        <ul class="dropdown-menu sub-menu">
                                            <li><a href="stories.html">Customer Stories</a></li>
                                            <li class="divider"></li>
                                            <li><a href="reviews.html">Reviews</a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="services.html" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="codes.html">Codes</a></li>
                                    <li class="divider"></li>
                                    <li><a href="icons.html">Icons</a></li>
                                    <li class="divider"></li>
                                    <li><a href="single.html">One more link</a></li>
                                </ul>
                            </li>
                            <li><a href="plans.html">Plans</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="mail.html">Mail Us</a></li>
                        </ul>
                    </nav>
                </div>
                <!--/.navbar-collapse-->
                <!--/.navbar-->
            </div>
        </nav>
    </div>
</div>
<router-outlet></router-outlet>
        <!-- footer -->
        <div class="footer_top_agile_w3ls">
                <div class="container">
                    <div class="col-md-3 footer_grid">
                        <h3>About Us</h3>
                        <p>Nam libero tempore cum vulputate id est id, pretium semper enim. Morbi viverra congue eros.
        
                        </p>
                        <div class="social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 footer_grid">
                        <h3>Latest News</h3>
                        <ul class="footer_grid_list">
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i>
                                <a href="single.html">Lorem ipsum neque vulputate </a>
                            </li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i>
                                <a href="single.html">Dolor amet sed quam vitae</a>
                            </li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i>
                                <a href="single.html">Lorem ipsum neque, vulputate </a>
                            </li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i>
                                <a href="single.html">Dolor amet sed quam vitae</a>
                            </li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i>
                                <a href="single.html">Lorem ipsum neque, vulputate </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer_grid">
                        <h3>Contact Info</h3>
                        <ul class="address">
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>8088 USA, Honey block, <span>New York City.</span></li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i>+09187 8088 9436</li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer_grid ">
                        <h3>Sign up for our Newsletter</h3>
                        <p>Get Started For Free</p>
                        <div class="footer_grid_right">
        
                            <form action="#" method="post">
                                <input type="email" name="Email" placeholder="Email Address..." required="">
                                <input type="submit" value="Submit">
                            </form>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
        
                </div>
            </div>
            <div class="footer_wthree_agile">
                <p>© 2018 Digital Samay. All rights reserved | Design by <a href="#">sar1singh</a></p>
        
            </div>
<!-- //footer -->